#!/usr/bin/make -f

%:
	dh $@ --parallel

override_dh_auto_build:
	cd mp4v2 && ./make_configure
	cd mp4v2 && ./configure --enable-shared=no --disable-util
	cd mp4v2 && $(MAKE)
	$(MAKE) LIBPATH=-L./mp4v2/.libs
